/* Labels & Descriptions
-------------------------------------------------------------- */
.gform_wrapper {
  .hidden_label > .gfield_label, // Hidden labels.
  .field_sublabel_hidden_label label { // Hidden sublabels.
    @extend .visually-hidden;
  }

  // Description margins.
  .field_description_below .gfield_description {
    margin-top: $form-label-margin-bottom;
  }

  .field_description_above .gfield_description {
    margin-bottom: $form-label-margin-bottom;
  }

  // Sub-label margins.
  .field_sublabel_below label.gform-field-label--type-sub {
    margin-top: $form-label-margin-bottom;
  }

  .field_sublabel_above label.gform-field-label--type-sub {
    margin-bottom: $form-label-margin-bottom;
  }

  // Labels left/right setting.
  .right_label {
    .gfield_label {
      text-align: right;
    }
  }

  .gform_fields:not(.top_label) .gfield {
    > .gfield_label {
      float: left;
      width: 25%;
    }

    > .ginput_container,
    > .gfield_description {
      width: 73%;
      margin-left: 27%;
      clear: none;
    }
  }

  .gform_footer {
    &.right_label,
    &.left_label {
      width: 73%;
      margin-left: 27%;
    }
  }
}
