/**
 * Gravity Forms Bootstrap styling
 * https://github.com/MoshCat/bootstrap-gravityforms
 *
 * Gravity Forms SASS styles for use in your Bootstrap enabled WordPress theme.
 * Please use these styles together with bootstrap-gravityforms-hooks for full functionality:
 * https://github.com/MoshCat/bootstrap-gravityforms-hooks
 *
 */

@import "partials/labels-descriptions";
@import "partials/fields-standard";
@import "partials/fields-advanced";
@import "partials/chosen";
@import "partials/datepicker";

.gform_wrapper {
  margin-bottom: $spacer;
  text-align: left;

  // Form heading.
  .gform_heading {
    .gform_description {
      display: block;
      margin-bottom: $paragraph-margin-bottom;
    }
  }

  .gform_body {
    margin-bottom: 1rem;
  }

  // Layout: emulates .form-row class & enables the Bootstrap form-grid.
  ul.gform_fields {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$form-grid-gutter-width / 2;
    margin-left: -$form-grid-gutter-width / 2;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    .gfield.form-group {
      width: 100%;
      padding-right: $form-grid-gutter-width / 2;
      padding-left: $form-grid-gutter-width / 2;

      &.hidden_label {
        margin-bottom: $form-grid-gutter-width;
      }
    }
  }

  // Form Footer
  .gform_footer,
  .gform_page_footer { @extend .form-group; }

  // Custom Ajax Spinner.
  @keyframes ajax-spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .gform_ajax_spinner {
    @extend .spinner-border;
    @extend .spinner-border-sm;

    color: $primary;
    margin-left: 1rem;
  }

  // Hidden
  .gform_validation_container, // anti-spam honeypot
  .gform_hidden { // Hidden fields
    display: none !important;
    position: absolute !important;
    left: -9000px;
  }

  // Validation
  .gfield_required {
    color: $danger;
  }

  .validation_error,
  .validation_message {
    @extend .alert;
    @extend .alert-warning;

    font-size: $font-size-sm;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
  }

  select[aria-invalid="true"],
  textarea[aria-invalid="true"],
  input[aria-invalid="true"] {
    border-color: rgba($form-feedback-invalid-color, 0.5);
  }
}

// Widget
.gform_widget {
  .form-group {
    margin-bottom: 0.5rem;
  }

  textarea,
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="number"],
  input[type="tel"] {
    @extend .form-control-sm;
  }

  .gform_button {
    @extend .btn-sm;
  }
}

// Reset :disabled when viewing the form with shortcode preview
.mce-content-body {
  .form-control,
  .custom-select {
    &:disabled {
      background-color: $input-bg;
    }
  }
}

// Confirmation
.gform_confirmation_wrapper {
  @extend .alert;
  @extend .alert-primary;
}
