@import "chosen";

/* --------------------------------------------------------------
# Gravity Forms Bootstrap styling
-------------------------------------------------------------- */
.gform_wrapper {
  text-align: left;
  position: relative;

  .gfield {
    @extend .form-group;

    position: relative;
  }

  /* Type
  -------------------------------------------------------------- */
  // Heading
  .gform_heading {
    h3.gform_title {
      margin-bottom: 0;
    }

    .gform_description {
      margin-bottom: 1.5em;
      display: block;
    }
  }

  // Field Description
  .gfield_description {
    margin-top: 0.5rem;
    font-size: 0.8125em;
  }

  // Characters Left
  .charleft {
    color: $gray-600;
    font-size: 0.75em;
    margin-top: 4px;
    white-space: nowrap;
  }

  // Section 
  .gfield.gsection {
    padding-top: 1rem;

    h2.gsection_title {
      border-bottom: $border-width solid $border-color;
    }
  }

  // Labels 
  .hidden_label > label {
    display: none;
  }

  /* Validation
  -------------------------------------------------------------- */
  .gfield_required {
    color: $danger;
  }

  .validation_error,
  .validation_message {
    @extend .alert;
    @extend .alert-primary;

    font-size: 0.875em;
    padding: 0.125rem 0.25rem;
  }

  .validation_error {
    margin-bottom: 0.5rem;
  }

  .validation_message {
    display: inline-block;
    margin-bottom: 0.25rem;
  }

  select[aria-invalid="true"],
  textarea[aria-invalid="true"],
  input[aria-invalid="true"] {
    border-color: $form-feedback-invalid-color;
  }

  // Hide anti-spam honeypot
  .gform_validation_container {
    display: none !important;
    position: absolute !important;
    left: -9000px;
  }

  /* CSS Ready Classes https://www.gravityforms.com/css-ready-classes/
  -------------------------------------------------------------- */
  ul.gform_fields {
    @extend .list-unstyled;

    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;

    .gfield {
      width: 100%;

      @include media-breakpoint-up(md) {
        &.gf_left_half {
          margin-right: 2%;
        }

        &.gf_right_half,
        &.gf_left_half {
          width: 49%;

          .small,
          .medium {
            width: 100%;
          }
        }

        &.gf_left_third,
        &.gf_middle_third {
          margin-right: 2%;
        }

        &.gf_left_third,
        &.gf_middle_third,
        &.gf_right_third {
          width: 32%;

          .small,
          .medium {
            width: 100%;
          }
        }

        &.gf_first_quarter,
        &.gf_second_quarter,
        &.gf_third_quarter {
          margin-right: 2%;
        }

        &.gf_first_quarter,
        &.gf_second_quarter,
        &.gf_third_quarter,
        &.gf_fourth_quarter {
          width: 23.5%;

          .small,
          .medium {
            width: 100%;
          }
        }
      }
    }
  }

  /* Input Width / Height
  -------------------------------------------------------------- */
  select,
  input {
    @include media-breakpoint-up(lg) {
      &.small {
        width: 33.3%;
      }

      &.medium {
        width: 50%;
      }
    }
  }

  .textarea {
    &.small {
      height: 80px;
      font-size: 100%;
    }

    &.medium {
      height: 100px;

      @include media-breakpoint-up(lg) {
        height: 140px;
      }
    }

    &.large {
      height: 140px;

      @include media-breakpoint-up(lg) {
        height: 240px;
      }
    }
  }

  /* Complex
  -------------------------------------------------------------- */
  .ginput_complex {

    // Name field
    &.ginput_container_name {
      @extend .form-row;

      > span {
        @extend .col;
      }

      .name_prefix,
      .name_middle,
      .name_suffix {
        flex-grow: 0.4;
      }
    }

    // Adress field
    &.ginput_container_address {
      display: flex;
      flex-flow: row wrap;

      .ginput_right,
      .ginput_left,
      .ginput_full {
        @extend .form-group;
      }

      .ginput_full {
        width: 100%;
      }

      .ginput_left {
        margin-right: 2%;
      }

      .ginput_left,
      .ginput_right {
        width: 100%;

        @include media-breakpoint-up(sm) {
          width: 49%;
        }
      }
    }
  }

  /* Date- & Timefields
  -------------------------------------------------------------- */
  .datepicker.datepicker_no_icon.hasDatepicker {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' version='1'%3E%3Cpath fill='%23D0D0D0' d='M15 6V3h-2v1a1 1 0 1 1-2 0V3H5v1a1 1 0 1 1-2 0V3H1v3h14zm0 1H1v8h14V7zm-2-5h2l1 1v12l-1 1H1l-1-1V3l1-1h2V1a1 1 0 1 1 2 0v1h6V1a1 1 0 1 1 2 0v1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
  }

  .clear-multi {
    display: flex;

    > div:not(:last-child) {
      margin-right: ($spacer / 2);
    }

    .gfield_time_hour {
      i {
        float: right;
        font-style: normal;
      }
    }
  }

  /* Radio & Checkboxes
  -------------------------------------------------------------- */
  ul {
    &.gfield_radio {
      @extend .list-unstyled;

      li {
        @extend .custom-control;
        @extend .custom-radio;

        input[type="radio"] {
          @extend .custom-control-input;

          + label {
            @extend .custom-control-label;
          }
        }
      }

      // 'Other' field
      input[type="text"] {
        padding: 0.25rem;
      }
    }

    &.gfield_checkbox {
      @extend .list-unstyled;

      li {
        @extend .custom-control;
        @extend .custom-checkbox;

        input[type="checkbox"] {
          @extend .custom-control-input;

          + label {
            @extend .custom-control-label;

            font-weight: normal;
          }
        }
      }
    }
  }

  /* File upload
  -------------------------------------------------------------- */
  .ginput_container_fileupload {
    .gform_drop_area {
      background: rgba(0, 0, 0, 0.02);
      border-radius: $border-radius;
      border: $border-width dashed $gray-500;
      color: $gray-500;
      margin-bottom: $spacer;
      padding: ($spacer * 1.5);
      text-align: center;
    }

    .gform_drop_instructions {
      display: block;
      margin-bottom: ($spacer / 1.5);
    }

    .gform_delete {
      vertical-align: middle;
      cursor: pointer;
    }

    .validation_message {
      padding: 0;
      background-color: transparent;
      border-color: transparent;

      ul {
        @extend .list-unstyled;

        li {
          @extend .alert;
          @extend .alert-primary;
        }
      }
    }
  }

  /* Lists
  -------------------------------------------------------------- */
  .gfield_list {
    width: 100%;

    .gfield_list_cell:not(:first-child) {
      padding-left: ($spacer / 2);
    }

    .gfield_list_icons {
      padding-left: 10px;
      width: 48px;
    }

    th {
      font-size: 0.8125rem;
    }
  }

  /* Hidden
  -------------------------------------------------------------- */
  input[type=hidden],
  input.gform_hidden,
  .gform_hidden,
  .gf_hidden {
    display: none !important;
    max-height: 1px !important;
    overflow: hidden;
  }

  /* Progresbar
  -------------------------------------------------------------- */
  .gf_progressbar_wrapper {
    @extend .form-group;

    .gf_progressbar_title {
      color: $gray-500;
      font-size: 0.875rem;
      text-transform: uppercase;
    }

    .gf_progressbar {
      @extend .progress;

      .gf_progressbar_percentage {
        @extend .progress-bar;
        @extend .progress-bar-striped;
        @extend .progress-bar-animated;

        &.percentbar_blue {
          @extend .bg-primary;
        }

        &.percentbar_gray {
          @extend .bg-secondary;
        }

        &.percentbar_green {
          @extend .bg-success;
        }

        &.percentbar_orange {
          @extend .bg-warning;
        }

        &.percentbar_red {
          @extend .bg-danger;
        }
      }
    }
  }

  /* Footer
  -------------------------------------------------------------- */
  .gform_page_footer,
  .gform_footer {
    @extend .form-group;
  }

  /* Custom spinner. (Hide original spinner using snippet)
  -------------------------------------------------------------- */
  @keyframes ajax-spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .gform_ajax_spinner {
    display: inline-block;
    margin-left: 1rem;
    border: 4px solid rgba($black, 0.1);
    border-left-color: $primary;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    animation: ajax-spinner 1.2s linear infinite;
  }
}

/* Confirmation Message
-------------------------------------------------------------- */
.gform_confirmation_message {
  @extend .alert;
  @extend .alert-primary;

  margin-top: 10px;
}

/* --------------------------------------------------------------
# Datepicker
-------------------------------------------------------------- */
.ui-datepicker {
  background-color: $white;
  border: $border-width solid $input-border-color;
  display: none;
  font-size: 0.875rem;

  .ui-datepicker-header {
    display: flex;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 30px;

    .ui-icon {
      @extend .sr-only;
    }
  }

  .ui-datepicker-prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='18'%3E%3Cpath fill='none' stroke='%23979797' stroke-linecap='square' d='M10 0L1 9l9 9'/%3E%3C/svg%3E");
  }

  .ui-datepicker-next {
    order: 1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='18'%3E%3Cpath fill='none' stroke='%23979797' stroke-linecap='square' d='M1 0l9 9-9 9'/%3E%3C/svg%3E");
  }

  .ui-datepicker-title {
    display: flex;
    flex: 1;
    justify-content: center;
    width: calc(100% - 60px);

    > select {
      @extend .custom-select;

      height: min-content;
      line-height: 1;
      margin: 5px;
    }
  }

  .ui-datepicker-calendar {
    @extend .table;
    @extend .table-sm;

    font-size: 0.875rem;
    font-family: sans-serif;
    margin-bottom: 0;

    td,
    th {
      text-align: center;
      padding: 0;

      a {
        display: inline-block;
        text-decoration: none;
      }
    }
  }
}
